.Exercises-YouTube{
    padding-top: 80px;
    padding-left: 96px;
    padding: 80px 24px 40px 96px ;
    background-color: #f9f9f9;
}
.content{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
}
@media (max-width: 750px){
    .content{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 1000px){
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1125px){
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.picview{
    position: relative;
    margin-bottom: 8px;
}
.video-time{
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 8px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
}
.pictext{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile{
    object-fit: cover;
    object-position: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.pic{
    width: 100%;  
}
.ptitle{
    width: 100%;
    font-size: small;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
}
.powner,.pview{
    color: gray;
    font-size: 13px;
}
.powner{
    margin-bottom: 4px;
}
.footer{
    height: 200px;
}
